*{
    margin: 0%;
    padding: 0;
    font-family: sans-serif;
}
.main{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right,#9c27b0,#8ecdff);

}
.logo img{
    width: 70px;
    height: 70px;
}

nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    align-items: center;
    
}
.logo{
    flex-basis: 20%;

}
.navlink{
    flex: 1;
    text-align: right;
}
.navlink ul li {
    list-style: none;
        display: inline-block;
        margin: 0 20px;
       
        background: #0a0e14;
        padding: 0.5rem;
        border-radius: 0.6rem;
}


.navlink ul li:hover{
    background: transparent;
    transition: 400ms;
    
}

.navlink ul li a{
    color: #fff;
    text-decoration: none;


}


.navlink ul li:hover a{
    color: rgb(252, 23, 23);
}

.info{
    width: 1000px;
    height:1000px ;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
}
#circle {
    width: 1000px;
    height: 1000px;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(0deg);
    transition: 1s;
    

  
 
  
}
.feature img{
    width: 70px;

}
.feature{
    position: absolute;
    color: #fff;
}
.one{
    top: 405px;
     right: 78px;
    }
   



.two{
    top: 136px;
    left: 382px;
    transform: rotate(-90deg);
}
.three{
    bottom: 414px;
    left: 151px;
    transform: rotate(-180deg);


}
.four{
    bottom: 66px;
    right: 373px;
    transform: rotate(-270deg);


}
.mobile{
    width: 200px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform:translateY(-50%) ;
    z-index: 1;
}
.controls{ 
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;

}



    

.controls h3{
    margin: 15px 0;
    color: #fff;
    

}

#upbtn{
    width: 15px;
    cursor: pointer;
    
}




#downbtn {
    width: 15px;
    cursor: pointer;
    transform: rotate(180deg);
}

.overlay{
    width: 0;
    height: 0;
    border-top: 500px solid#fff;
    border-bottom: 500px solid white;
    border-right: 500px solid transparent;
    border-left: 500px solid white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow:  2rem 1rem 1rem rgba(0, 0, 0, 0.3);
    

}
.overlay h1{
    color: rgb(32, 33, 80);
        font-family: sans-serif;
        top: 80px;
        right: 477px;
        position: relative;
       
        
    }

